body{
    font-family: Helvitica;
}


.navigation_menu{
    font-size: large;
    text-decoration: none;
    color:#000000;
}

.sorty,.nav_bar_elements{
    display: inline;
    padding-left: 75px;
       
}
/* img{
    float: right;
    height: 200px;
    width: 200px;
    padding-right: 90px;
    margin-bottom: 2px;
    
}*/

#nav_bar_element_features,
#nav_bar_element_pricing,
#nav_bar_element_resources{

    padding-left: 20px;
    color: #000000;
    text-decoration: none;
}

#nav_bar_element_login{

    padding-left: 600px;
    padding-right: 20px;
    color: #000000;
    text-decoration: none;
}

#nav_bar_element_singup{

    padding-left: 25px;
    color: #000000;
    text-decoration: none;
}

#intro_heading{
    /* margin-bottom: 200px; */
    padding-top: 90px;
}

#intro_heading,
#intro_content
{
    /* margin-bottom: 200px; */

    padding-left: 75px;
}

#nav_bar_element_signup{
    height: 30px;
    width: 90px;
    border-radius: 25px 25px 25px 25px;
    border-width: 0px;
    background-color: #8EE5D1;
}


#get_started_button{
    margin-left: 75px;
    height: 30px;
    width: 250px;
    border-radius: 25px 25px 25px 25px;
    border-width: 0px;
    background-color: #8EE5D1;
}

#form_content{
    /* display: inline; */
    padding-top: 60px;
    margin-left: 75px;
}

#email_box,
#book_a_demo_button{
    display: inline;
    text-align: center;

}

#email_box{
    margin-left: 380px;
    height: 25px;
    width: 350px;
    font-size: medium;
    border-width: 0.2px;
}

#book_a_demo_button{
    margin-left: 10px;
    height: 30px;
    width: 110px;
    border-radius: 25px 25px 25px 25px;
    border-width: 0px;
    background-color: #8EE5D1;
}

#intro_two{
    
    padding-left: 75px;
    text-align: center;
}



.section_conclusion{
    display: flex;
    padding-left: 75px;
    background-color:#F4F7FA;

}


.section_part_1,
.section_part_2,
.section_part_3{
    display: flex;
    padding-left: 75px;
    background-color:#F4F7FA;
    z-index: 10;
}

#one,
#one_header,
#two,
#two_header,
#three,
#three_header{
    margin: 10px;
    padding: 5px 15px;
    z-index: 20;
}

#one_header,
#two_header,
#three_header{
    color: #8EE5D1;
}

#conclusion{
    display: inline;
}

#section_conclusion{
    padding-left: 75px;
}