<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->

    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    
    <div class="navigation_menu">

        <h2 class="sorty">
            Sorty
        </h2>

        <!-- <a class="home" href="#home">Sorty</a> -->
       
        <div class="nav_bar_elements">
        
            <a id= "nav_bar_element_features" href="#features">Features</a>
            <a id= "nav_bar_element_pricing" href="#pricing">Pricing</a>
            <a id= "nav_bar_element_resources" href="#resources">Resources</a>
        
            <a id= "nav_bar_element_login" href="#login">Login</a>
            <button id="nav_bar_element_signup"type="button"><b>Sign Up</b></button>


       </div>
        

    
    </div>
    
    <div>
        <h1 id="intro_heading">
            The best way to manage projects<br> and tasks
        </h1>
        <p id="intro_content">
            Focus on what is important to you and rely on us for organizing your tasks<br />
        </p>
    
        <button id="get_started_button"type="button"><b>Getting Started</b></button>   
    
        <form id="form_content">
            <input id="email_box" type="text" name="Email Address">
            <button id="book_a_demo_button" type="book_a_demo_button"><b>Book a Demo</b></button>
            
    
          </form>
    
    </div>


    <div>
        <div id="intro_two">
            <p> 
                <h2>Why Choose Us</h2>
                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit <br /> 
                amet orci. Aenean dignissim pellentesque felis.
            </p>
        </div>
        
        <section class="section_part_1"> 
        <div>
            <h3 id="one_header">
                1 

            </h3>
              
            <p id="one">
                <b>Handling more projects <br /></b> 
                <br />
                Lorem ipsum dolor sit amet,<br />
                consectetuer adipiscing elit.<br />
                Donec odio. Quisque volutpat<br />
                mattis eros.
    
            </p>
        </div>
        </section>
    
        

        <section class="section_part_2"> 
        <div>
            <h3 id="two_header">
                2 
     
            </h3>
                
            <p id="two">
                <b>Save lot of time<br /></b> 
                <br />   
                Lorem ipsum dolor sit amet,<br />
                consectetuer adipiscing elit.<br />
                Donec odio. Quisque volutpat<br />
                mattis eros.
    
            </p>
        </div>
        </section>
    
        <section class="section_part_3"> 
        <div>
        
            <h3 id="three_header">
                3 

            </h3>
                
            <p id="three">    
                <b>Improve process<br /></b>
                <br />
                Lorem ipsum dolor sit amet,<br />
                consectetuer adipiscing elit.<br />
                Donec odio. Quisque volutpat<br />
                mattis eros.
    
            </p>
    
        </div>
        </section>
        

    
    <section id="section_conclusion">
        <div>
            <h2>
                About Sorty
            </h2>
            
            <p>
                Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,<br />
                euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
            </p>
    
    
            <h2>
                Contact Us
            </h2>
            <p>
                Send us an email to get in touch<br />
                <b>contact@sorty.tool</b>
            </p>
    
        </div>    
    </section>
    



</body>
</html>




