<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->

    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    
    <div class="navigation_menu">

        <h2 class="sorty">
            Sorty
        </h2>

        <!-- <a class="home" href="#home">Sorty</a> -->
       
        <div class="nav_bar_elements">
        
            <a id= "nav_bar_element_features" href="#features">Features</a>
            <a id= "nav_bar_element_pricing" href="#pricing">Pricing</a>
            <a id= "nav_bar_element_resources" href="#resources">Resources</a>
        
            <a id= "nav_bar_element_login" href="#login">Login</a>
            <a id= "nav_bar_element_signup" href="#sign_up">Sign Up</a>

       </div>
        

    
    </div>
    
    <div>
        <h1 id="intro_heading">
            The best way to manage projects<br> and tasks
        </h1>
        <p id="intro_content">
            Focus on what is important to you and rely on us for organizing your tasks<br />
        </p>
    
        <button id="get_started_button"type="button"><b>Getting Started</b></button>   
    
        <form id="form_content">
            <input id="email_box" type="text" name="Email Address">
            <button id="book_a_demo_button" type="book_a_demo_button"><b>Book a Demo</b></button>
            
    
          </form>
    
    </div>


    <div>
        <div id="intro_two">
            <p> 
                <h2>Why Choose Us</h2>
                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit 
                amet orci. Aenean dignissim pellentesque felis.
            </p>
        </div>
        

        <h3 class="one">
            1 
            <br />
            <br />
            Handle more projects
        </h3>
            
        <p class="one">    
            Lorem ipsum dolor sit amet,<br />
            consectetuer adipiscing elit.<br />
            Donec odio. Quisque volutpat<br />
            mattis eros.<br />

        </p>



        <h3 class="two">
            2 
            <br />
            <br />
            Save lot of time 
        </h3>
            
        <p class="two">    
            Lorem ipsum dolor sit amet,<br />
            consectetuer adipiscing elit.<br />
            Donec odio. Quisque volutpat<br />
            mattis eros.<br />

        </p>



        <h3 class="three">
            3 
            <br />
            <br />
            Improve process
        </h3>
            
        <p class="three">    
            
            Lorem ipsum dolor sit amet,<br />
            consectetuer adipiscing elit.<br />
            Donec odio. Quisque volutpat<br />
            mattis eros.<br />

        </p>

    </div>


    <div>
        <h2>
            About Sorty
        </h2>
        
        <p>
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,<br />
            euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
        </p>


        <h2>
            Contact Us
        </h2>
        <p>
            Send us an email to get in touch<br />
            contact@sorty.tool
        </p>

    </div>



</body>
</html>




